/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.settings-hide {
	display: none;
}

.setting-engine-header {
	display: flex;
	justify-content: space-between;
	height: 30px;
}

.setting-engine-header img {
	transform: scale(0.8);
}

.setting-engine-header .guide {
	font-weight: bolder;
	font-size: 15px;
	line-height: 30px;
}

.setting-title {
	font-weight: bolder;
	font-size: 15px;
	line-height: 30px;
	height: 40px;
	border-top: 1px gainsboro solid;
	padding-top: 10px;
}

.setting-title + .setting-item {
	border-top: none;
}

.setting-config-box {
	border-top: 1px gainsboro solid;
	padding-top: 10px;
}

.translate-card-header {
	font-size: 20px;
}

.translate-card-header .arrows {
	font-weight: bolder;
}

.translate-card-header .source-link {
	text-decoration: none;
}

.translate-card-header .source-link:hover {
	color: #2080f0;
	text-decoration: none;
}

/*.translate-card .speech {*/
/*	color: #2080f0;*/
/*}*/
